<div class="container mt-5 mb-5">
 <h1>Hakkında</h1>

    <p>Yemeksitesi 2001 yılında Nevzat Aydın, Melih Ödemiş Gökhan Akan ve Cem Nufusi tarafından kuruldu. İlk kez
        2004 yılında günde 1000 sipariş aldı. <br>
        Bu rakamın 10.000'e çıktığı 2008 yılında, European Founders Fund'dan ilk
        yatırımını aldı.

        Şirket, 10 Haziran 2010 tarihinde yurt dışına açılıp izrestorana.co websitesi ile Rusya'da hizmet vermeye
        başladı. Aynı ayın sonunda Foodonclick markası ile Dubai, Birleşik Arap Emirlikleri’nde de hizmet vermeye
        başladı. Nisan 2013 tarihinde Foodonclick bünyesinde hizmet verilen ülkelere Katar ve Umman da eklendi.
        Aynı yılın Ağustos ayında Suudi Arabistan ve Lübnan da 2015 yılında Foodonclick'in sitesine dahil edildi.
        Aynı yılın Ekim ayında ise Yemeksitesi, Yunanistan'daki Click Delivery şirketine yatırım yaparak Avrupa'ya
        açıldı. Kasım 2013'te şirketin CEO'su Nevzat Aydın, 2,2 milyon kayıtlı üye ve 10 binden fazla restoran
        olduğunu ve günde yaklaşık 60 bin sipariş aldıklarını duyurdu. 
        <br>
        Eylül 2014'te yemek tarifleri başta olmak
        üzere yemek kültürü içerikli yemek.com sitesi kuruldu. Aynı yılın Kasım ayında firma, Ürdünlü iFood
        şirketinin çoğunluk hissesini alarak Orta Doğu'daki operasyonlarını büyüttü.

        Yemeksitesi, iOS uygulamasını yayımlayarak 2010'da mobil ticarete başladı.

        2015 yılında Almanya merkezli global online yemek sipariş platformu Delivery Hero tarafından 589 milyon dolar (1
        milyar 596 milyon lira) karşılığında satın alındı. Bu satış GittiGidiyor'un eBay'a satılışının üstüne çıkarak
        Türk internet tarihin en yüksek değerli satışı oldu.

        2020 yılı itibarıyla 5 milyon yeni üye kazanan
        <br>
        Yemeksitesi'nin üye sayısı 20 milyonu aşmıştır. Yemeksitesi'nin
        kurucularından Nevzat Aydın, şirketin CEO’luk görevini 1 Kasım 2021 tarihinde Mert Baki'ye devretmiştir.

        Yemeksitesi, günümüzde Türkiye'nin 81 ilinde hizmet vermektedir.

    </p>
</div>